body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0C1844;
    color: #ccc;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question {
    background-color: #f0f0f0;
    background-color: #0C1844;
    padding: 10px;
    cursor: pointer;
}

.answer {
    padding: 10px;
    display: none; /* Initially hide answers */
}

.answer.active {
    display: block; /* Show answer when active */
}



.contact-support {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0C1844;
}

.contact-support h2 {
    margin-top: 0;
}

.contact-support a {
    color: #007bff;
    text-decoration: none;
}

.contact-support a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}